ninja  # For faster builds.
psutil
ray
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch >= 2.0.0
transformers >= 4.28.0  # Required for LLaMA.
xformers@git+https://github.com/facebookresearch/xformers@278460b
fastapi
uvicorn
pydantic  # Required for OpenAI server.
fschat == 0.2.18  # Required for OpenAI ChatCompletion Endpoint.
